funcany.egg-info/
./*.obj
./code*.py

misc/task*/try/
misc/task*/*.npy
misc/task*/old/try
misc/task*/old/*.npy


task*/try/
task*/solutions/
task*/*.npy

utils/*.png

logs/*

meshy_api_key.txt
api_keys.json

blenderkit/*.obj
blenderkit/tools/*.obj
baseline-meshy/*

ext/Genesis/ext/*